.facebook_ads_iframe_holder {
  overflow: hidden;
}
#wishpond_facebook_ads_iframe {
  width:100%;
  height: 620px;
  background: url('../images/ajax-loader.png') 50% 50% no-repeat;
  overflow-x: hidden;
}